.header{
  padding: 20px 50px;
  background-color: cadetblue;
  color: white;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img{
  height: 30px;
  margin-right: 20px;
}

.header button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: chartreuse;
  cursor: pointer;
}

.header button:hover {
  background-color: yellow;
  color: black;
}